.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  opacity: 0.9;
  color: #fff;
  font-size: 20px;
}

.timerSettings {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.349);
  width: 100vw;
  height: 100vh;
  .timeSet {
    background-color: white;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  .timerValues {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .setNumber {
      margin: 10px;
      width: 100px;
      height: 50px;
      border-radius: 4px;
      background-color: rgb(239, 239, 239);
      font-size: 16px;
      padding: 10px;
      box-shadow: none;
      border: none;
      color: rgb(85, 85, 85);
      box-sizing: border-box;
    }
  }
  .okButton {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    opacity: 0.7;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
