$background1: rgb(186, 73, 73);
$mainWidth: 500px;
$mainHeight: 60px;
$mainBorder: 5px;

.todoList {
  width: $mainWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks,
.Endtasks {
  width: $mainWidth;
  display: flex;
  margin: 5px 0;
  height: $mainHeight;
  background-color: #fff;
  border-radius: 5px;

  .tasksText {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 10px;
    width: 80%;
    img {
      margin-left: 5px;
    }
    p {
      margin-left: 10px;
    }
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    i,
    p {
      margin-right: 10px;
    }
    i {
      font-size: 30px;
    }
  }
}

.Endtasks {
  opacity: 0.8;

  .tasksText {
    text-decoration: line-through;
    text-decoration-style: dash;
  }
}

.addTask {
  margin-top: 10px;
  width: $mainWidth;
  border-radius: $mainBorder;
  height: $mainHeight;
  border: 2px dashed #fff;
  div {
    height: 100%;
    button {
      opacity: 0.8;
      color: hsla(0, 0%, 100%, 1);
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
        transition: opacity 0.6s;
      }
    }
  }
}

.newTask {
  width: $mainWidth;
  border-radius: $mainBorder;
  background-color: #fff;
  margin-top: 20px;

  .inputValue {
    height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;

    .newItemText {
      height: 50px;
      width: 100%;
      font-size: 16px;
    }
    .newItemText:focus {
      outline: none;
    }
  }

  .setNumber {
    margin-left: 20px;
    .title {
      opacity: 0.8;
    }

    .values {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: rgb(200, 200, 200);
        border-radius: 2px;
        text-align: center;
        font-size: 16px;
        opacity: 0.9;
      }

      button {
        background-color: #f2f2f2;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin: 5px;
        img {
          margin: 10px;
          opacity: 0.8;
        }
      }
    }
  }

  .saveOrcancel {
    background-color: #efefef;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      opacity: 0.7;
      width: 100px;
      height: 50px;
      margin-right: 20px;
    }

    .save {
      background-color: black;
      border-radius: 5px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 510px) {
  .todoList {
    width: 400px;
    font-size: 14px;
  }
  .tasks {
    width: 400px;
    font-size: 14px;
  }
  .addTask {
    width: 400px;
    font-size: 14px;
  }
  .Endtasks {
    width: 400px;
    font-size: 14px;
  }
  .newTask {
    width: 400px;
    font-size: 14px;
    .setNumber {
      .values {
        .number {
          font-size: 15px;
          width: 60px;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f2f2f2;
          width: 60px;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
    .saveOrcancel {
      button {
        opacity: 0.7;
        width: 70px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  $mobil400pxwidth: 350px;
  $mobil400pxText: 12px;
  .todoList {
    width: $mobil400pxwidth;
    font-size: $mobil400pxText;
  }
  .tasks {
    width: $mobil400pxwidth;
    font-size: $mobil400pxText;
  }
  .addTask {
    width: $mobil400pxwidth;
    font-size: $mobil400pxText;
  }
  .Endtasks {
    width: $mobil400pxwidth;
    font-size: $mobil400pxText;
  }
  .newTask {
    width: $mobil400pxwidth;
    font-size: $mobil400pxText;
  }
}
