@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ba4949;
  font-weight: bold;
}

.activeButton {
  background-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 3px;
}
.activeButton:active {
  opacity: 0.8;
  padding-top: 5px;
  transition: all 0.2s ease-in 0s;
}

#timerButton {
  background-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 3px;
}
#timerButton:active {
  opacity: 0.8;
  padding-top: 5px;
  transition: all 0.2s ease-in 0s;
}

/* styles.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Sayfa arkaplanını karartmak için bir arka plan ekliyoruz */
  z-index: 9999; /* Üstte olmasını sağlamak için bir z-index ekliyoruz */
}

/** LOADING CSS  */
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.dot1 {
  animation: blink 1s infinite 0.3333s;
}

.dot2 {
  animation: blink 1s infinite 0.6666s;
}

.dot3 {
  animation: blink 1s infinite 1s;
}

/** LOADING CSS  */

/*! Suan aktif degil! */
.taskActive {
  border-left: 8px solid black;
  border-right: 8px solid black;
}
